$background-color: black;
$padding-size: 20px;
$text-color: white;
$font-color-text: #454545;
$link-color: #656565;

.footer {
  background-color: $background-color;
  padding: $padding-size;
  color: $text-color;

  .logo-image {
    width: 50%;
    height: 80%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .section {
      margin-bottom: 20px;

      .text {
        margin-bottom: 10px;
      }

      .paragraph {
        color: $font-color-text;
      }

      .ul {
        list-style: none;
        padding: 0;

        .li {
          margin-bottom: 5px;
          color: $font-color-text;
          text-decoration: none;

          a {
            color: $link-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  .copy {
    text-align: center;
    margin-top: 20px;
    color: $font-color-text;
  }
}